{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | FAQs{% endblock %}


{% block content %}
    <h2 class="mb-3">Frequently Asked Questions</h2>

    {% for faq in faqs %}
        <div class="card mb-3">
            <h3 class="card-header">{{ faq.question }}</h3>
            <div class="card-body">
                {{ faq.answer|raw }}
            </div>
        </div>
    {% endfor %}
{% endblock %}