{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | FAQs{% endblock %}


{% block content %}
    <h2 class="mb-3">Frequently Asked Questions</h2>
    <div class="card mb-3">
        <h3 class="card-header">Question 1</h3>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus doloribus eligendi eum eveniet explicabo illum laborum necessitatibus neque nesciunt nisi, nobis quidem reiciendis repudiandae sit tempora tempore temporibus voluptatibus voluptatum.
        </div>
    </div>

    <div class="card mb-3">
        <h3 class="card-header">Question 2</h3>
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus doloribus eligendi eum eveniet explicabo illum laborum necessitatibus neque nesciunt nisi, nobis quidem reiciendis repudiandae sit tempora tempore temporibus voluptatibus voluptatum.
        </div>
    </div>
{% endblock %}