{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Exit Form{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        IGB Exit Form
    </li>
{% endblock %}

{% block content %}
    <h2>IGB Exit Form</h2>
    {% if person == app.user and is_granted('ROLE_APPROVER') %}
        <div class="callout callout-border-warning">
            This will submit an exit form on <strong>your</strong> behalf! To submit an exit form for someone else,
            please click the Exit Form button on their profile page.
        </div>
    {% endif %}
    <p class="approval-label">Name</p>
    <p class="approval-field">{{ person }}</p>
    {{ form(form) }}
{% endblock %}
