{% extends 'base.html.twig' %}

{% block content %}
{{ form(form) }}
{% endblock %}

{% block title %}{{ parent() }} | Training Certificate Upload{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        Training Certificate Upload
    </li>
{% endblock %}

