{% block KeyAffiliation_row %}
    <div class="collection-row">
        {% if data is not null %}
            <div class="collection-label">{{ data.cylinderKey.name }}</div>
        {% else %}
            {{ form_row(form.cylinderKey) }}
        {% endif %}
        <div class="row">
            <div class="col">
                {{ form_row(form.startedAt) }}
            </div>
            <div class="col">
                {{ form_row(form.endedAt) }}
            </div>
        </div>
    </div>
{% endblock %}