// Customize bootstrap variables
@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";

$blue: #13294B;
$teal: #20c997;
$orange: #DD3403;

$primary: $blue;
$info: $teal;

//$custom-colors: (
//        "primary": $primary,
//        "info": $info,
//);
//$theme-colors: map-merge($theme-colors, $custom-colors);
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";

@import "cnrg";

.placeholder-image {
  background-color: $gray-300;
  color: $gray-600;
  font-size: x-large;
  font-weight: bold;
  padding: 3rem;
}

.breadcrumb-bar {
  border-bottom: 2px solid $gray-300;
  background-color: $gray-200;
  padding-top: 1rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  //font-weight: 500;
  //line-height: 1.2;
  box-shadow: 3px 3px 8px #eee;
}