{% extends 'base.html.twig' %}
{% use 'person/_editForm.html.twig' %}

{% block title %}
    {{ parent() }} | New Member
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('person') }}">IGB Members</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        New Member
    </li>
{% endblock %}