{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Themes{% endblock %}

{% block content %}
    {% for group, themes in themeGroups %}
        <h1>{{ group }}</h1>
        <div class="row">
            {% for column in themes|batch(themes|length/3|round(0,'ceil')) %}
                <div class="col-lg">
                    {% for theme in column %}
                        <p><a href="{{ path('theme_view', {'shortName': theme.shortName}) }}">{{ theme.shortName }}</a></p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Themes</li>
{% endblock %}